::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


body,
html {
    background-color: #F6F4E4;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    height: 10vh;
    background-color: #3498DB;
    color: white;
}

main {
    min-height: calc(100vh - 20vh);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navBtnMob {
    background-color: #3498DB;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

footer {
    padding: 10px;
    height: 10vh;
    width: 100%;
    background-color: #3498DB;
}

.resumeBloc {
    background-color: #1A5276;
    border-radius: 20px;
    box-shadow: 5px 5px 25px black;
    overflow-x: hidden;
}

.valueBloc {
    height: 80%;
    overflow-y: scroll;
}

h2 {
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

h2:hover {
    color: #3498DB;
    border-bottom: 1px solid #3498DB;
    transition: 0.5s;
}

#topChat {
    background-color: #3498DB;
    width: 100%;
    height: 90%;
}

#chatContact {
    background-color: #1A5276;
    width: 18%;
    height: 100%;
}

#chatBar {
    height: 10%;
    width: 100%;
}

#chatBtnBloc {
    height: 100%;
    width: 20%;
}

#chatBtnSend {
    height: 100%;
    border: 1px solid black
}

#chatInput {
    width: 90%;
    resize: none;
}

#chatBloc {
    border: 1px solid black
}

#chatMessage {
    scroll-behavior: smooth;
}

.noteEl {
    border: 1px solid black;
}

.notationBloc {
    width: 30%;
    border-right: 1px solid black;
}

#notation {
    height: 50%;
    text-align: center;
    background-color: #3498DB;
    color: white;
    border-bottom: 1px solid black;
}

#onTwenty {
    height: 50%;
    text-align: center;
    color: white;
    background-color: #476686;
}

.prof {
    font-size: 0.8em;
}

.bg-egg {
    background-color: #F6F4E4;
}

#hwDate {
    width: 60px;
    padding: 15%;
}

#hwEl {
    height: 50px;
}

.subInfo {
    background-color: #476686;
}

.otherChat {
    background-color: #2E4053;
    border-radius: 10px;
    border-top-left-radius: 0;
}

.meChat {
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color: #476686;
}

caption

/* Titre du tableau */
    {
    margin: auto;
    /* Centre le titre du tableau */
    font-family: Arial, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #476686;
    margin-bottom: 20px;
    /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
}

table

/* Le tableau en lui-même */
    {
    background-color: #F6F4E4;
    color: black;
    margin: auto;
    /* Centre le tableau */
    border: 4px outset #476686;
    /* Bordure du tableau avec effet 3D (outset) */
    border-collapse: collapse;
    /* Colle les bordures entre elles */
    width: 100%;
}

th

/* Les cellules d'en-tête */
    {
    background-color: #476686;
    color: white;
    font-size: 1.1em;
    font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
    border: 1px solid black;
}

td

/* Les cellules normales */
    {
    width: 12%;
    border: 1px solid black;
    font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
    text-align: center;
    /* Tous les textes des cellules seront centrés*/
    padding: 5px;
    /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}

td.time {
    width: 5%;
}