::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


body,
html {
    background-color: #F6F4E4;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

header {
    height: 10%;
    background-color: #3498DB;
    color: white;
}

.logoBloc {
    width: 10%;
}

.navBtnMob {
    background-color: #3498DB;
    border-radius: 20px;
    padding: 20px;
    height: fit-content;
}

footer {
    margin-top: 50px;
    position: relative;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: #3498DB;
}

.resumeBloc {
    background-color: #1A5276;
    border-radius: 20px;
    box-shadow: 5px 5px 25px black;
    overflow: scroll;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    transition: 0.3s;
}

h2:hover {
    color: #3498DB;
    border-bottom: 1px solid #3498DB;
    transition: 0.5s;
}

#topChat {
    background-color: #3498DB;
    width: 100%;
    height: 90%;
}

#chatContact {
    background-color: #1A5276;
    width: 18%;
    height: 100%;
}

#chatBar {
    height: 10%;
    width: 100%;
}

#chatBtnBloc {
    height: 100%;
    width: 20%;
}

#chatBtnSend {
    height: 100%;
    border: 1px solid black
}

#chatInput {
    width: 90%;
    resize: none;
}

#chatBloc {
    border: 1px solid black
}

#chatMessage {
    scroll-behavior: smooth;
}

.noteEl {
    border: 1px solid black;
}

.notationBloc {
    width: 30%;
    border-right: 1px solid black;
}

#notation {
    height: 50%;
    text-align: center;
    background-color: #A99BD4;
    color: white;
    border-bottom: 1px solid black;
}

#onTwenty {
    height: 50%;
    text-align: center;
    color: white;
    background-color: #2E4053;
}

.prof {
    font-size: 0.8em;
}

.bg-egg {
    background-color: #F6F4E4;
}

#hwDate {
    width: 60px;
    padding: 15%;
}

#hwEl {
    height: 50px;
}

.subInfo {
    background-color: #476686;
}

.meChat {
    background-color: #2E4053;
}