caption

/* Titre du tableau */
    {
    margin: auto;
    /* Centre le titre du tableau */
    font-family: Arial, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #476686;
    margin-bottom: 20px;
    /* Pour éviter que le titre ne soit trop collé au tableau en-dessous */
}

table

/* Le tableau en lui-même */
    {
    margin: auto;
    /* Centre le tableau */
    border: 4px outset #476686;
    /* Bordure du tableau avec effet 3D (outset) */
    border-collapse: collapse;
    /* Colle les bordures entre elles */
    width: 100%;
}

th

/* Les cellules d'en-tête */
    {
    background-color: #476686;
    color: white;
    font-size: 1.1em;
    font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
    border: 1px solid black;
}

td

/* Les cellules normales */
    {
    width: 12%;
    border: 1px solid black;
    font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
    text-align: center;
    /* Tous les textes des cellules seront centrés*/
    padding: 5px;
    /* Petite marge intérieure aux cellules pour éviter que le texte touche les bordures */
}

td.time {
    width: 5%;
}

.bg-green {
    color: black;
    background-color: rgb(162, 192, 102);
}

.bg-darkRed {
    color: white;
    background-color: rgb(87, 3, 94);
}

.bg-cyan {
    color: white;
    background-color: rgb(61, 141, 173);
}

.bg-pink {
    color: white;
    background-color: rgb(173, 61, 85);
}

.bg-orange {
    color: black;
    background-color: rgb(211, 203, 168);
}

.bg-red {
    color: white;
    background-color: rgb(190, 16, 16);
}

.bg-yellow {
    color: black;
    background-color: rgb(255, 230, 8);
}

.bg-royal {
    color: white;
    background-color: rgb(32, 66, 130);
}

.bg-arc {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));

    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: black;
}

.btn-blue {
    color: #db9334;
    background-color: rgba(153, 69, 69, 0.863);
    border-radius: 50%;
}