body {
    background-color: #F6F4E4;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h4 {
    margin: 0;
    padding: 0;
}

form div {
    margin: 5px;
}


.column {
    display: flex;
    flex-direction: column;
}

label {
    cursor: pointer;
}

.info {
    text-align: center;
}

.list {
    text-align: left;
    font-size: 20px;
}

.poleNumber {
    text-transform: uppercase;
}

.error {
    color: red;
    font-weight: bold;
}

.inputError {
    border: 2px solid red;
}

input {
    margin-bottom: 5px;
    width: 80%;
    border-radius: 30px;
    border: 2px solid grey;
    outline: none;
    transform: scale(1);
    transition: 0.5s;
}

input:focus {
    border: 2px solid greenyellow;
    transform: scale(1.1);
    transition: 0.5s;
}

.error {
    color: red;
    font-weight: bold;
}

.inputError {
    border: 2px solid red;
}